
 
@charset "UTF-8";
 
body{
    background-color: #dddddd;
    color: black;
}
 
 
 
 
.txtCenter{
    text-align: center; /*Texto Centralizado*/
}
 
.txtDireita{
    text-align: right; /*Texto a Direita*/
}
 
.txtEsquerda{
    text-align: left; /*Texto a Esquerda*/
}
.nomeProprietario{
    text-decoration: underline ;
    color:black;
    background-color:coral;    
}
 
.nomeProprietario1{
    text-decoration: overline ;
}
 
.nomeProprietario2{
    text-decoration: line-through ;
}
 
.txtNegrito{
    font-weight: bold ;  /*Negrito Tradicional*/
}
 
.txtBolder{
    font-weight: bolder ; /*Negrito mais Negrito*/
}
  
.txtLetra{
    font-size: larger;
}
 
/* Listas */
 
ol{
    list-style-type: upper-alpha;
}
 
ol{list-style-type: decimal;
   
}
 
ul{
    list-style-type: square;
}
 
/* Formatação Paragrafos*/
 
p{
    text-align: justify;
    text-indent: 50px;
}
/* Formatar a interface do site*/
 
 
section#interface{
    background-color: coral;
    width: 900px;
    margin: 20px auto 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: -20px;
}
 
/* Flutuar imagem do oculos*/
header#cabecalho img#icone{
    position: absolute;
    top: 90px;
    left: 1230px;
}
 
 
/* Formatação de Imagenns */
 
figure.foto-legenda{
    position: relative;
    border: 8px solid wheat;
    width: 600px;
    height: 450px;
    box-shadow: 1px 1px 4px black;
}
 
figure.foto-legenda img{
    width: 100%;
    height: 100%;
   
}
 
figure.foto-legenda figcaption{
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color:wheat;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
}
 
header#cabecalho img#icone-1{
    position: absolute;
    top: 90px;
    left: 90px;
 
}
 
header#cabecalho img#icone-2{
    position: absolute;
    top: 90px;
    right: 90px;
}
 
header#cabecalho img#icone-3{
    position: absolute;
    top: 1600px;
    left: 90px;
}
 
header#cabecalho img#icone-4{
    position: absolute;
    top: 1600px;
    right: 90px;
}
 
 
figure.foto-legenda:hover figcaption{
    opacity: 1;
    transition: opacity 1s;
}
 
/* Formatação do Menu*/
 
nav#menu{
    display: block;
}
 
nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 680px;
 
}
 
nav#menu li{
    display: inline-block;
    background-color:coral;
    padding: 10px;
    margin: 2px;
}
 
nav#menu li:hover{
    background-color:wheat;
    transition: 2s;
}
 
nav#menu a{
    color: #000000;
    text-decoration: none;
}
 
nav#menu a:hover{
    color:coral;
    text-decoration: underline;
    transition: 2s;
}
 
nav#menu h1{
    display: none   ;
}
 
/*Formatação do Cabeçalho*/
 
header#cabecalho{
    border-bottom: 1px;
    height: 170px;
   
}
 
 
header#cabecalho h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    color:#000000;
    text-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.6);
    padding: 0px;
    margin-bottom: 1px;
   
}
 
header#cabecalho h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    color: black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding: 0px;
    margin-top: 0px;
}
 
 
 
 
 